<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
		<section name="ConfigurationStorage" type="QA.Configuration.XamlConfigurationSection, QA.Configuration" />
	</configSections>
	<connectionStrings>
	</connectionStrings>
	<ConfigurationStorage configSource="ConfigurationStorage.xaml" />
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<!-- описываем интерфейс сервиса журналирования -->
		<alias alias="ILogger" type="QA.Core.ILogger, QA.Core" />
		<!-- описываем конкретные классы журналирования -->
		<alias alias="Log4NetLogger" type="QA.Core.Log4NetLogger, QA.Core" />
		<alias alias="NLogLogger" type="QA.Core.NLogLogger, QA.Core" />
		
		<alias alias="IConfigurationService" type="QA.Configuration.IConfigurationService, QA.Configuration" />
		<alias alias="ConfigurationService" type="QA.Configuration.ConfigurationService, QA.Configuration" />
		
		<container name="Default">
			<!-- Регистрируем сервис журналирования как синглетон -->
			<register type="ILogger" mapTo="NLogLogger">
				<lifetime type="singleton" />
				<constructor>
					<!-- в конструктор передаем имя файла с описанием правил журналирования -->
					<param name="fileName" value="NLogClient.config" />
				</constructor>
			</register>

			<register type="IConfigurationService" mapTo="ConfigurationService">
			</register>
		</container>
	</unity>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>