<div class="widget">
    <fieldset>
        <legend>Виджет</legend>
        @using (Html.BeginForm())
        {
            @Html.Label("Name", "Name")
            @Html.TextBox("Name", "comment...")
            <button title="Send" value="Send">
                Send</button>
            <p>
                User-Agent: @Html.ViewContext.HttpContext.Request.UserAgent
            </p>
            <div class="small">
                Дата создания виджета:<strong> @DateTime.Now</strong>
            </div>
        }
    </fieldset>
</div>
